@import url("/home/david/.cache/wal/colors-waybar.css");

* {
  font-size: 20px;
  font-family: "JetBrainsMono Nerd Font", "Material Design Icons", sans-serif;
  color: @color6;
}

#waybar {
  background: @background;
}

#custom-launcher {
  padding-left: 10px;
  margin-right: 7px;
}

#cpu {
  margin-right: 7px;
}

#memory {
  margin-right: 7px;
}

#hyprland-workspaces {
  color: @color6;
}

#network {
  margin-left: 7px;
}

#clock {
  margin-left: 7px;
}

#tray {
  margin-left: 7px;
}

#custom-power {
  padding-right: 7px;
  margin-left: 10px;
}
